<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PasswordManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PasswordManager.Properties.Settings>
            <setting name="LockOnIdle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LockOnIdleTime" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="ClipboardClearTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="UseSHA3Hashing" serializeAs="String">
                <value>False</value>
            </setting>
        </PasswordManager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <PasswordManager.Properties.Settings>
            <setting name="DatabaseConnectionString" serializeAs="String">
                <value>Data Source=credentials.db;Version=3;Password=5XI2dYLQAj,TwdfDg8O52f£I20jzU+Nb</value>
            </setting>
            <setting name="DatabaseFilename" serializeAs="String">
                <value>credentials.db</value>
            </setting>
        </PasswordManager.Properties.Settings>
    </applicationSettings>
</configuration>